<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- 配置连接数据库的基本信息 -->

        <!--这里是mysql数据库-->
        <property name="connection.username">root</property>
        <property name="connection.password">123</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/mylove?useunicode=true&amp;characterEncoding=utf8</property>

        <!-- 配置 hibernate 的基本信息 -->
        <!-- hibernate 所使用的数据库方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>

        <!-- 执行操作时是否在控制台打印 SQL -->
        <property name="show_sql">true</property>

        <!-- 是否对 SQL 进行格式化 -->
        <property name="format_sql">true</property>

        <!-- 指定自动生成数据表的策略 -->
        <property name="hbm2ddl.auto">update</property>
        <property name="current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>

        <!-- *********连接池配置*********** -->
        <!-- 配置连接池驱动管理类 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!-- 配置连接池参数信息 -->
        <property name="hibernate.c3p0.max_size">5</property>	<!-- 最大连接数 -->
        <property name="hibernate.c3p0.min_size">2</property>	<!-- 最小连接数 -->
        <property name="hibernate.c3p0.timeout">5000</property>	<!-- 超时时间 -->
        <property name="hibernate.c3p0.max_statements">100</property>	<!-- 最大执行的命令格个数 -->
        <property name="hibernate.c3p0.idle_test_period">30000</property> <!-- 空闲测试时间 -->
        <property name="hibernate.c3p0.acquire_increment">2</property>	<!-- 连接不够用时,每次增加的个数 -->
        <!--
            #hibernate.c3p0.max_size 2
            #hibernate.c3p0.min_size 2
            #hibernate.c3p0.timeout 5000
            #hibernate.c3p0.max_statements 100
            #hibernate.c3p0.idle_test_period 3000
            #hibernate.c3p0.acquire_increment 2
            #hibernate.c3p0.validate false
        -->

        <!-- 指定关联的 .hbm.xml 文件 -->
        <mapping class="com.example.demo.mode.GoodsRecord"/>
        <mapping class="com.example.demo.mode.UserInfo"/>
    </session-factory>

</hibernate-configuration>